@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    font-family: sarala, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(180deg, #FFD23F 0%, #FFB9CA 100%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.imagemNav {
    height: 4rem;
}

.menuPrincipal {
    display: flex;
    padding: 1rem;
    justify-content: center;
    gap: 32px;
}

.listaMenu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 30%;
}

.listaItem {
    font-family: 'Sarala', sans-serif;
    color: #9B2F46;
    font-weight: 400;
    font-size: 18px;
}

.sinopse {
    display: flex;
    flex-direction: column;
    border-top: 0.4px solid #ECE1E1;
    margin-bottom: 48px;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
}

h1 {
    display: flex;
    font-family: 'Righteous', cursive;
    color: #9B2F46;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    gap: 24px;
}

h2 {
    display: flex;
    font-family: 'Righteous', cursive;
    color: #9B2F46;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    gap: 24px;
}